@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
/* selecting by tag name */
/* h1{
    color:red;
} */

/* * is universal selector (it will select all the elements */
*{
    background-color:lightgrey;
    font-size:16px;
    margin:0px;
}

/* selecting by class name */
.red-color{
    color:red;
}

/* selecting by id */
#yellow-color{
    color:yellow;
}


.px-size{
    /* background-color:pink; */
    width:200px;
    height:200px;
    color:green;
}

.percentage-size{
    /* background-color:lightblue; */
    /* 50% of 200px */
    width:50%;
    /* 50% of 200px */
    height:100%;
    /* 200% of 200px =400px*/
    color:white;
}

.rem-size{
    background-color: red;
    /* 2% of width of html doc */
    width:50rem;
    /* 2% of height of html doc */
    height:20rem;
    /* 2*16px = 32px */
    /* 1* font-size of html tag */
    font-size:2rem;
}
.vh-size{
    background-color:salmon;
    height:30vh;
}
.vw-size{
    background-color:yellow;
    width:40vw;
    height:200px;
}

/* font family and font-weight */
#arial-font{
    /* extra font-family are fall back fonts */
   font-family:Arial, Helvetica, sans-serif; 
}

.bold{
    font-weight:bold;
    font-weight:600;
}

.underline{
    text-decoration: underline;
    text-decoration-color: red;
    /* text-decoration-style: dotted; */
    text-decoration-style: wavy;
}
.strike{
    text-decoration:line-through;
    text-decoration-color: green;
}
.italics{
    text-decoration: overline;
}

/* width and height of images */
.first-img{
    width:100%;
    height:100px;
}

/* custom font */
.custom-font{
    font-family: 'Neonderthaw', cursive;
}

/* borders */
.red-border{
    width:200px;
    height:200px;
    border:5px solid red;
}
.thick-border{
    height:100px;
    width:100px;
    border: 20px dashed yellow;
}
.circular-div{
    height:100px;
    width:100px;
    border:2px solid green;
    border-radius:50%;
}
.circular-img{
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius:50%;
}

/* rgb colors */
.rgb1{
    height:100px;
    width:50px;
    background-color:rgb(255,65,0);
}
.rgb2{
    height:100px;
    width:100px;
    /* background-color:blue; */
    background-color: rgb(0,0,255);
}


/* box-model */
#box-model{
    height:100px;
    width:100px;
    background-color:rgb(255,255,0);
    border:2px solid black;
    padding:10px;
    margin:20px;
}

#box-model2{
    height:100px;
    width:100px;
    background-color:rgb(255,255,0);
    border:2px solid black;
    padding:10px;
    margin:20px;
}

/* margin and padding */
.margin{
    background-color:yellow;
    width:100px;
    height:100px;
    /* top=bottom=left=right=20px */
    margin:20px;

    /* top=10px right=20px bottom=10px left=0px */
    margin:10px 20px 10px 0px;

    /* top=bottom=50px left=right=20px */
    margin:50px 20px;
}

#padding{
    background-color:rgb(13,20,2);
    color:white;
    width:100px;
    height:50px;
    /* top=bottom=left=right=10px */
    padding:10px;
    /* top=10 right=20 bottom=30 left=0 */
    padding:10px 20px 30px 0px;
    /* top=bottom=20 left=right=30 */
    padding:20px 30px;
}