*{
    box-sizing: border-box;
}
.box{
    width:50px;
    height:40px;
    /* text-align:center; */
    margin:10px;
    padding:10px;
}
#box1,#box4,#box7,#box10{
    background-color:yellow;
    /* flex-grow:1; */
    /* flex-shrink:0; */
}
#box2,#box5,#box8{
    background-color:lightslategrey;
    /* flex-grow:0; */
}
#box3,#box6,#box9{
    background-color: lightgreen;
    /* flex-grow:0; */
}
.container{
    display:flex;

    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction:row-reverse; */
    /* flex-direction:column-reverse; */

    /* justify-content: center; */
    /* justify-content: space-between;
    justify-content:space-around;
    justify-content:flex-end; */
    /* justify-content: end;
    justify-content: space-evenly; */

    /* align-items:center; */
    /* align-items:flex-start;
    align-items:flex-end; */

    /* flex-wrap:nowrap; */
    flex-wrap: wrap;
    /* flex-wrap:wrap-reverse; */

    /* flex-wrap:wrap; */
    align-content: center;
    align-content:flex-start;
    align-content:flex-end;
    /* align-content:stretch; */


    background-color: lightsalmon;
    padding:10px;
    /* height:200px; */
    height:300px;
}

/* #box1{
    background-color:red;
}
#box2{
    background-color: red;;
}

#box1,#box2{
    background-color:red;
} */
/* 
.box{
    height:10px;
    width:10px;
} */

#box1{
    /* center the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}